@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  --foreground-rgb: rgb(222, 222, 226);
  --background-rgb: rgb(75, 75, 76);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(222, 222, 226);
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
.css-l81uho-MuiTypography-root{
  color: white;
}
.MuiDateCalendar-root{
  color: white
}

