@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-height: 100vh;
  --foreground-rgb: 222, 222, 226;
  --background-rgb: rgb(75, 75, 76);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(222, 222, 226);
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.MuiTypography-root {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.css-kzyyzb-MuiDataGrid-root{
  color: white !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root{
  color: white !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
color: white !important;


}